.date-input {
display: flex;
justify-content: flex-end;
width: 100%;
padding: 0 32px;
margin: 16px 0; 
}
.input {

    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 0 16px;

}

.set-btn {
    padding: 8px;
    border: none;
    border-radius: 4px;

}