.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    background-color: #343434;

}
.header-title {
    font-weight: 400;
    margin: 0;
    color: #fff;

}
.header-btn {
    padding: 8px;
    background-color: #02FECD;
    border-radius: 4px;
    border: none;
    margin: 8px;
    font-size: 24px;
}
.header-btn:hover {
    background-color: #00E0FF;
    cursor: pointer;
}
.header-btn:active {
    background-color: #00B0FF;
    
}