.App {
    height: 80vh;
}

.App-body {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.timer-message {
    font-size: 36px;
    margin-bottom: 8px;
}

.time-container{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}