.timeboard-container {
    width: 250px;
    height: 250px;
    margin: 16px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timeboard-time {
    margin: 0px;
    color: #02FECD;
    font-size: 72px;
    margin-bottom: 8px;
    
}
.timeboard-title{
    margin: 0px;
    color: #fff;
    font-size: 36px;
}
